 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 396px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 362px;
  height: auto;
  background-image: none;
  margin: 14px auto 20px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 1.875rem;
  margin: 10px 718px 0 32px;
}

.u-section-1 .u-icon-1 {
  width: 28px;
  height: 28px;
  margin: -28px 20px 0 auto;
  padding: 0;
}

.u-section-1 .u-line-1 {
  transform-origin: left center 0px;
  margin: 13px 18px 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 59px;
  margin: -59px 86px 0 65px;
}

.u-section-1 .u-text-2 {
  margin: 9px 290px 0 18px;
}

.u-section-1 .u-text-3 {
  margin: 0 290px 0 18px;
}

.u-section-1 .u-text-4 {
  margin: 0 290px 0 18px;
}

.u-section-1 .u-text-5 {
  margin: 0 290px 0 18px;
}

.u-section-1 .u-text-6 {
  margin: 0 290px 0 18px;
}

.u-section-1 .u-text-7 {
  margin: 0 290px 0 18px;
}

.u-section-1 .u-text-8 {
  margin: 0 290px 0 18px;
}

.u-section-1 .u-text-9 {
  margin: 0 290px 0 18px;
}

.u-section-1 .u-text-10 {
  margin: 0 290px 0 18px;
}

.u-section-1 .u-text-11 {
  margin: 0 290px 0 18px;
}

.u-section-1 .u-text-12 {
  margin: 0 290px 0 18px;
}

.u-section-1 .u-group-2 {
  min-height: 22px;
  height: auto;
  width: 496px;
  margin: 0 auto 0 18px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-13 {
  margin: 0 272px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 193px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -163px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 138px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 3px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -11px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 1px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 670px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 46px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 228px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 228px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 228px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 228px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 228px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 228px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 228px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 228px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 228px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 228px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 228px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 490px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 48px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 48px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 48px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 48px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 48px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 48px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 48px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 48px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 48px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 48px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 48px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 197px;
    margin-right: 290px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -37px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -165px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-top: 9px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 116px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1001px;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 160px;
  height: auto;
  background-image: none;
  margin: 21px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 7px;
  padding-right: 7px;
}

.u-section-2 .u-table-1 {
  width: 703px;
  margin: 0 auto;
}

.u-block-c2f2-53 {
  height: 47px;
}

.u-section-2 .u-table-cell-2 {
  font-weight: 400;
}

.u-block-c2f2-64 {
  height: 47px;
}

.u-section-2 .u-line-1 {
  transform-origin: left center 0px;
  height: 3px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  margin: 643px 394px 60px 254px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-table-1 {
    margin-top: 241px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 294px;
    margin-left: 154px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 184px;
    margin-left: 44px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-table-1 {
    width: 526px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 48px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-table-1 {
    width: 326px;
    margin-top: 237px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}